{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block content %}

{% if current_user.is_authenticated() %}
<br><br><br>
<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">Actions</div>
  <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{url_for('email.compose')}}">New Email</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Sent Items</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="my-4">
      <form action="{{ url_for('main.home') }}" method="GET">
        <div class="form-group">
          {{ form.subject.label }}
          {{ form.subject(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary form-control") }}
      </form>
    </div>
  </div>
<div id="page-content-wrapper">
  <div class="container-fluid">
      <h1 class="mt-4">Inbox</h1>
      {% if emails%}
      {%for email in emails %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{ email.subject }}</a>
            </h4>
            <p class="card-text">{{ email.body }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
  </div>
</div>
{% else %}
  {% include 'home/_landing.html' %}
{% endif %}

{% endblock %}
